name: Java CI Release

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew shadowJar
        
      - name: Upload Lib Jar
        uses: actions/upload-artifact@v5
        with:
          name: lib
          path: lib/build/libs/kotlinc.jar

      - name: Upload Embeddable Jar
        uses: actions/upload-artifact@v5
        with:
          name: kotlinc-embeddable
          path: embeddable/build/libs/kotlinc-embeddable.jar
